<div class="header">
  <ul class="top-nav">
    <li class="logo-top-nav">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </li>
    <li>
      <%= link_to rooms_path do %>
        <i class="fa fa-users">  Tìm phòng đấu</i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-graduation-cap">   Bảng xếp hạng</i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-clock-o">   Lịch sử thi đấu</i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-book">   Hướng dẫn</i>
      <% end %>
    </li>
  </ul>
  <ul class="top-nav pull-right">
    <li class="user-avatar">
      <%= image_tag "avatar.jpg"%>
    </li>
    <li><%= current_user.name %></li>
  </ul>
</div>
