<div class="header">
  <ul class="top-nav">
    <li class="logo-top-nav">
      <%= link_to root_path do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-users">  Tìm phòng đấu</i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-graduation-cap">   Bảng xếp hạng</i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-clock-o">   Lịch sử thi đấu</i>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa fa-book">   Hướng dẫn</i>
      <% end %>
    </li>
  </ul>
  <ul class="top-nav pull-right">
    <li class="user-avatar">
      <%= image_tag "avatar.jpg"%>
    </li>
    <li>Tran Duc Thang</li>
  </ul>
</div>

<div class="container">
  <div class="top-nav-content">
    <ul class="title-list-room">
      <li>DANH SÁCH PHÒNG THI ĐẤU</li>
      <li class="pull-right">
        <%= link_to root_path, class: "btn btn-primary" do %>
          <i class="fa fa-user-plus">  Tạo Phòng</i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="content row">
    <div class="list-room">
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'all-room')" id="defaultOpen">Tất cả</button>
        <button class="tablinks" onclick="openCity(event, 'room-1-vs-1')">1 vs 1</button>
        <button class="tablinks" onclick="openCity(event, 'room-1-vs-9')">1 vs 1</button>
        <div class="form-group col-md-3">
          <select class="form-control" id="sel1">
            <option>Tất cả các lớp</option>
            <option>Lớp 1</option>
            <option>Lớp 2</option>
            <option>Lớp 3</option>
          </select>
        </div>
        <div class="search-room">
          <input type="text" class="search" placeholder="Search for names..">
        </div>
      </div>

      <div id="all-room" class="tabcontent">
        <table class="table table-bordered">
          <thead>
            <th>Số</th>
              <th>Chủ phòng</th>
              <th>Tên phòng</th>
              <th>Loại phòng</th>
              <th>Môn</th>
              <th>Số người</th>
              <th>Trạng thái</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@TwBootstrap</td>
              <td>@TwBootstrap</td>
              <td>@TwBootstrap</td>
              <td>@TwBootstrap</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="room-1-vs-1" class="tabcontent">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Số</th>
              <th>Chủ phòng</th>
              <th>Tên phòng</th>
              <th>Loại phòng</th>
              <th>Số người</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@TwBootstrap</td>
              <td>@TwBootstrap</td>
              <td>@TwBootstrap</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="room-1-vs-9" class="tabcontent">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Số</th>
              <th>Chủ phòng</th>
              <th>Tên phòng</th>
              <th>Loại phòng</th>
              <th>Môn</th>
              <th>Số người</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Đấu tập thể</td>
              <td>@mdo</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Đôi kháng</td>
              <td>@TwBootstrap</td>
              <td>@TwBootstrap</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>@fat</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="chat">
      <div class="top-nav-chat">
        <span>Chat All</span>
      </div>
      <div class="content-chat">

      </div>
      <div class="footer-chart">

      </div>
    </div>
  </div>
</div>

