<div class="top-nav-content">
  <ul class="title-list-room">
    <li>PHÒNG ĐẤU SỐ 1 (1 VS 9)</li>
  </ul>
</div>
<div class="content row">
  <div class="list-room waiting-room">
    <div class="list-btn-inroom">
      <div class="total-player-room">
        <span>Số người chờ 10/10</span>
      </div>
      <div class="close-room">
        <button class="btn btn-danger">Rời phòng</button>
      </div>
      <div class="start-room">
        <button class="btn btn-success">Sẵn sàng</button>
      </div>
    </div>
    <div class="player-inroom">
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
        <div class="text-center"><strong>Tran Duc Thang</strong></div>
        <div class="user-win"><span>1996</span></div>
        <div class="text-center"><span>TRẬN THẮNG</span></div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
      <div class="player">
        <div class="image-player">
          <%= image_tag "avatar.jpg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="chat">
    <div class="top-nav-chat">
      <span>Nhắn tin</span>
    </div>
    <div class="content-chat">

    </div>
    <div class="footer-chart">

    </div>
  </div>
</div>
