<div class="container">
<div class="top-nav-content">
  <ul class="title-list-room">
    <li>PHÒNG ĐẤU SỐ 1 (1 VS 9)</li>
  </ul>
</div>
<div class="content row">
  <div class="list-room waiting-room">
    <div class="list-btn-inroom">
      <div class="total-player-room">
        <span>Số người chờ <%= @room.following.count %>/<%= @room.user_quantity %></span>
      </div>
      <div class="close-room">
        <% if @room.following.size == 1 %>
          <%= link_to "Rời phòng", room_path(@room), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Rời phòng",unfollow_room_path, class: "btn btn-danger" %>
        <% end %>
      </div>
      <div class="start-room">
        <%= render partial: "status_user_in_room", locals: {room: @room} %>
      </div>
    </div>
    <div class="player-inroom">
      <% @room.following.order(:created_at).reverse.each do |user| %>
        <div class="player" id= "user-<%= user.id %>">
          <div class="image-player">
            <%= image_tag "avatar.jpg" %>
          </div>
          <div style="height: 21px">
            <% if (@room.owner != user.id) && (get_relationship_id(user).status == 1) %>
              <div class="user-ready"><span>Sẵn sàng</span></div>
            <% end %>
          </div>
          <div class="text-center name-user"><strong><%= user.name %></strong></div>
          <div class="user-win"><span>1996</span></div>
          <div class="text-center"><span>TRẬN THẮNG</span></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="chat">
    <div class="top-nav-chat">
      <span>Nhắn tin</span>
    </div>
    <div class="content-chat">

    </div>
    <div class="footer-chart">

    </div>
  </div>
</div>
</div>
