<div class="container">
  <div class="row">
    <div class="content-exam row">
      <div class="time-exam">
        <div class="time-exam-lock">
          <i class="fa fa-clock-o"></i>
        </div>
      </div>
      <div class="image-exam">
        <%= image_tag "question.png" %>
      </div>
      <div class="question-exam" data-number-room="<%= @number_room %>">
        <span><%= @question.name %></span>
      </div>
      <div class="answer-exam">
        <div class="answer-exam-left">
          <div class="pointer dap-an-a"><span data-question-exam-id ="<%= @question.id %>"><%= @anwser.first.name %></span></div>
          <div class="pointer dap-an-b"><span data-question-exam-id ="<%= @question.id %>"><%= @anwser.last.name %></span></div>
        </div>
        <div class="answer-exam-right">
          <div class="pointer-two dap-an-c"><span data-question-exam-id ="<%= @question.id %>"><%= @anwser.second.name %></span></div>
          <div class="pointer-two dap-an-d"><span data-question-exam-id ="<%= @question.id %>"><%= @anwser.third.name %></span></div>
        </div>
      </div>
      <div class="totoal-question-exam">
        <span>6/10</span>
      </div>
    </div>
    <div class="rank row">
      <div class="top-nav-rank">
        <span>BẢNG XẾP HẠNG</span>
      </div>
      <div class="content-rank">
        <% @room.following.order(:created_at).each do |user| %>
        <div class="play-rank">
          <span><b></b><%= user.name %> <b>(<%= ScoreProvisional.find_by(user_id: current_user).score %>)</b></span>
        </div>
      </div>
      <% end %>
      <div class="footer-rank">

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function loadQuestion() {
    var id_room = $('.question-exam').data('number-room');
    if ((sessionStorage.getItem("check_incre") == "true")){
      var tpm = parseInt(sessionStorage.getItem("number_question")) + 1;
      sessionStorage.setItem("number_question", tpm);
      console.log(tpm);
    }else {
      sessionStorage.setItem("number_question", 1);
      sessionStorage.setItem("check_incre", true);
      console.log(sessionStorage.getItem("number_question"));
    }
    $.ajax({
      url: '/rooms/' + id_room + '/exames',
      type: 'GET',
      dataType: 'json',
      data: {
        status: true,
        i: sessionStorage.getItem("number_question"),
        exame_id: sessionStorage.getItem("exame_id")
      },success: function(result) {
        console.log(result.status);
        if(result.status == "1"){
          window.location.replace(result.url);
        }else{
          $('.answer-exam').attr('data-question-exam-id',result.question_id);
          $('.question-exam span').html(result.question);
          $('.dap-an-a span').html(result.anwser_1);
          $('.dap-an-c span').html(result.anwser_2);
          $('.dap-an-b span').html(result.anwser_3);
          $('.dap-an-d span').html(result.anwser_4);
        }
      }
    });
  }
  setInterval(function(){
    if(sessionStorage.getItem("number_question") == 10){
      sessionStorage.clear();
    }else {
      loadQuestion();
    }
  }, 30000);

    $('body').on('click', '.dap-an-a span', function(){
    var id_room = $('.question-exam').data('number-room');
    var question_id = $(this).data('question-exam-id');
    alert(question_id);
    $.ajax({
      url: '/rooms/' + id_room + '/answers',
      type: 'GET',
      dataType: 'json',
      data: {
        answer: $('.dap-an-a span').html(),
        question_id: question_id
      },success: function(result) {

      }
    });
  });
  $('body').on('click', '.dap-an-b span', function(){
    var id_room = $('.question-exam').data('number-room');
    var question_id = $(this).data('question-exam-id')
    $.ajax({
      url: '/rooms/' + id_room + '/answers',
      type: 'GET',
      dataType: 'json',
      data: {
        answer: $('.dap-an-b span').html(),
        question_id: question_id
      },success: function(result) {

      }
    });
  });
  $('body').on('click', '.dap-an-c span', function(){
    var id_room = $('.question-exam').data('number-room');
    var question_id = $(this).data('question-exam-id')
    $.ajax({
      url: '/rooms/' + id_room + '/answers',
      type: 'GET',
      dataType: 'json',
      data: {
        answer: $('.dap-an-c span').html(),
        question_id: question_id
      },success: function(result) {

      }
    });
  });
  $('body').on('click', '.dap-an-d span', function(){
    var id_room = $('.question-exam').data('number-room');
    var question_id = $(this).data('question-exam-id')
    $.ajax({
      url: '/rooms/' + id_room + '/answers',
      type: 'GET',
      dataType: 'json',
      data: {
        answer: $('.dap-an-d span').html(),
        question_id: question_id
      },success: function(result) {

      }
    });
  });
</script>
